@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

:root {
  --color-bg: #050505;
  --color-text: #ffffff;
  --color-primary: #ff0055;
  --color-accent: #00e5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
}

body {
  font-family: 'Outfit', sans-serif;
  color: var(--color-text);
  /* Ensure canvas is visible */
  position: fixed;
  top: 0;
  left: 0;
}